{% extends 'SvkWelcomeBundle::index.html.twig' %}

{% block title %}<title>Silversmoke | FAQ</title>{% endblock %}

{% block content %}

<section id="cig-spec">

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>Learn more about Silversmoke Electronic Cigarettes</h2>
        <div class="device-pic">
          <img src="{{ asset('img/sliversmoke-hori.png') }}" alt="Quit smoking using a connected electronic cigarette!">
        </div>
      </div>

      <div class='col-md-12'>
        <div class="col-md-3">
          <div class='item item-1'>
            <span>
              <img src="{{ asset('img/silversmoke-cig-icon.png') }}" width="15" alt="Quit smoking using a connected electronic cigarette!">
            </span>
          </div> 
          <div class='item-desc'>
            <h4>The Silversmoke E-Cigarette</h4>
            <ul>
              <li>Rechargeable Battery</li>
              <li>Bluetooth 4.0</li>
              <li>Fully reusable</li>
            </ul>
          </div>
        </div>
        <div class="col-md-3">
          <div class='item item-2'>
            <span>
              <img src="{{ asset('img/silversmoke-sensor.png') }}" width="55" alt="Quit smoking using a connected electronic cigarette!">
            </span>
          </div> 
          <div class='item-desc'>
            <h4>The Silversmoke App</h4>
            <ul>
              <li>Free to download</li>
              <li>Available for Android and iOS</li>
              <li>Synchronized online</li>
            </ul>
          </div>
        </div>
        <div class="col-md-3">
          <div class='item item-3'>
            <span>
              <img src="{{ asset('img/cartridge.png') }}" width="50" alt="Quit smoking using a connected electronic cigarette!">
            </span>
          </div> 
          <div class='item-desc'>
            <h4>Flavor Cartridges</h4>
            <ul>
              <li>1 Cartridge: 250 Puffs</li>
              <li>20 cartridges per pack</li>
              <li>10 different flavors</li>
            </ul>
          </div>
        </div>
        <div class="col-md-3">
          <div class='item item-4'>
            <span>
              <img src="{{ asset('img/usb-charger.png') }}" width="50" alt="Quit smoking using a connected electronic cigarette!">
            </span>
          </div> 
          <div class='item-desc'>
            <h4>Lightning Fast Charger</h4>
            <ul>
              <li>USB 2.0</li>
              <li>Regular plugs</li>
              <li>Recharge your e-cig in 2 hours</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div id='faq' class="container">
	<div class="row">
		<div class="col-md-6">
			<ul>
				<li>
					<details>
						<summary>Where can I stay updated about Silversmoke or ask questions?</summary>
						<p>Sign up on Silversmoke to get the latest news on our electronic cigarettes. If you have any questions, please feel free to email us at <a mailto='contact@getsilversmoke.com'>contact@getsilversmoke.com</a></p>
					</details>
				</li>
				<li>
					<details>
						<summary>Can I have Silvermoke shipped internationally?</summary>
					<p>Yes! You can order Silversmoke to be shipped internationally. Once we know how many Silversmokes Starter Packs to order, we will send out a survey asking for your delivery country and will let you know the shipping cost.</p>
					</details>
				</li>
				<li>
					<details>
						<summary>How much does a Starter Pack cost?</summary>
						<p>Estimated price for a Starter Pack including 2 batteries and a set of three flavor cartridges and charges on the go is €99. It comes with a car charger and a USB cable. Price may vary depending on location</p>
					</details>
				</li>
				<li>
					<details>
						<summary>How do I order a Silversmoke Starter Pack?</summary>
					<p>We are not shipping any Starter Pack yet. We are currently in the final phases of refinement before it is ready to ship. We will first sell a limited number of 3,000 Starter Packs. You can already reserve yours on our website.</p>
					</details>
				</li>
			</ul>
		</div>

		<div class="col-md-6">
			<ul class="col-2">
				<li>
					<details>
						<summary>Is Silversmoke compatible with both iPhone and Android?</summary>
					<p>Yes, we do offer iPhone and Android apps for Silversmoke. Apps are not in the App Stores yet, they will be released with the first shipment of Starter Packs.</p>
					</details>
				</li>
				<li>
					<details>
						<summary>Where can I find cartridges?</summary>
					<p>Cartridges will soon be available online for purchase. We are currently not selling cartridges in any retail stores at the moment.</p>
					</details>
				</li>
				<li>
					<details>
						<summary>Is Silversmoke available for distributors?</summary>
					<p>Yes, if you are interested in selling Silversmoke electronic cigarettes, simply reach out to us at <a mailto='contact@getsilversmoke.com'>contact@getsilversmoke.com</a></p>
					</details>
				</li>
				<li>
					<details>
						<summary>How do I claim my 20%-Off discount?</summary>
					<p>Once you've signed up, we will send you an email with a coupon. You'll simply have to add it when you purchase your Starter Pack. Note that if you refer us to at least 2 of your friends, we will offer you free worldwide delivery as well.</p>
					</details>
				</li>
			</ul>
		</div>
	</div>
</div>

{% endblock %}