
<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	<h4 class="modal-title" id="myModalLabel">Reserve your Silversmoke Starter Pack Today for Free</h4>
</div>
<div class="modal-body">
	<div class="alert alert-warning">Sign up below and we will save you a Silversmoke Starter Pack with a discount of 20%. Signing up here is absolutely free and only takes 30 seconds</div>
	<div class='order-today'>
		<span class="padding-top:20px">

			<form action="{{ path('svk_welcome_subscribe') }}" method="post" {{ form_enctype(form) }}>
				{{ form_errors(form) }}

				<div class="signup-form">
					<input type="text" id="form_firstname" placeholder="Firstname" name="form[firstname]" required="required"/>
					<input type="text" id="form_lastname" placeholder="Lastname" name="form[lastname]" required="required"/>
				</div>
				<div class="signup-form">
					<div class='age-verification'><small>Silversmoke is committed to only selling its producs to people of legal smoking age. Please verify you age to sign up.</small></div>
					{{ form_widget(form.birthday) }}
				</div>
				<div  class="signup-form signup-email">
					<input type="email" id="form_email" placeholder="Your e-mail Address" name="form[email]" required="required"/>
				</div>

				{{ form_widget(form._token) }}
		</span>
	</div>
</div>
<div class="modal-footer">
	<input class="btn btn-success" type="submit" />
</div>

</form>