
<div class="signup">
	<form action="{{ path('svk_welcome_subscribe') }}" method="post" {{ form_enctype(form) }}>
		<div class="signup-body">
				<span class="padding-top:20px">

					{{ form_errors(form) }}

					<input type="text" id="form_firstname" placeholder="Enter your Firstname" name="form[firstname]" required="required"/><br>
					<input type="text" id="form_lastname" placeholder="Enter your Lastname" name="form[lastname]" required="required"/>
					<div class="dob-verif">
					<div>Date of Birth:</div>
					{{ form_widget(form.birthday) }}
					</div>
					<div class='age-verification'><small>Silversmoke is committed to only selling its products to people of legal smoking age. Please verify your age to sign up.</small></div>
					<input type="email" id="form_email" placeholder="Enter your e-mail Address" name="form[email]" required="required"/>

					{{ form_widget(form._token) }}
				</span>
		</div>
		<div class="signup-footer">
			<input  class="btn btn-success btn-lg"  type="submit" value="Reserve Now | Get 20% Off"/>
		</div>

	</form>

</div>