<form action="{{ path('svk_welcome_subscribe') }}" method="post" {{ form_enctype(form) }}>
    {{ form_errors(form) }}

    {{ form_row(form.firstname) }}
    {{ form_row(form.lastname) }}
    {{ form_row(form.email) }}
    {{ form_row(form.birthday) }}

    {{ form_rest(form) }}

    <input type="submit" />
</form>