<!DOCTYPE html>
<html>
<head>
  <title>Silversmoke | Smoke healthier</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Bootstrap -->
  <link href="{{ asset('bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" media="screen">
  <link href="{{ asset('css/font.css') }}" rel="stylesheet" media="screen">
  <link href="{{ asset('css/landing-page.css') }}" rel="stylesheet" media="screen">

  <link rel="icon" type="image/png" href="{{ asset('img/icon.png') }}" />

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
      <!--[if lt IE 9]>
        <script src="../../assets/js/html5shiv.js"></script>
        <script src="../../assets/js/respond.min.js"></script>
        <![endif]-->
      </head>
      <body>

        <!-- NAVBAR -->
        <section>
          <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class='container'>
              <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><img src="{{ asset('img/logo-navbar.png') }}" width="200px" alt="Quit smoking using a connected electronic cigarette!"></a>
              </div>

              <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="collapse navbar-collapse navbar-ex1-collapse">


                <ul class="nav navbar-nav navbar-right">
                  <li><a href="#">Starter Packs Left: <strong>{{ (3000 - count)|number_format(0, '.', ',') }}</strong></a></li>
                  <li><a href="#"><button class='btn btn-success'>Reserve Yours Now - Get 10% off</button></a></li>
                </ul>
              </div><!-- /.navbar-collapse -->
            </div>
          </nav>
        </section>


        <!-- HOMESCREEN -->
        <section id='homescreen' data-stellar-background-ratio="0.5" >
          <div class='container'>
            <div class='row'>
              <div class="col-md-5" style="padding-top: 150px; text-align:center">
                <h1>The Smart, Simple and Fun way to reduce smoking</h1>
                <h3>The first electronic cigarette that tracks your consumption on your smartphone</h3>
                <button class='btn btn-primary btn-lg'>RESERVE YOURS NOW</button>
              </div>
              <div class="col-md-6">
              </div>
            </div>
          </div>
        </section>

        <section id="usp">
          <div class='container'>
            <div class='row'>
              <div class="caption">
                <h2>The First Electronic Cigarette designed to take the Pain out of quitting</h2>
              </div>
              <div class="col-md-5 usp-desc">
                <h4>KILL THE FRUSTRATION, NOT THE FUN</h4>
                <p>Silversmoke tracks your nicotine consumption and syncs all those stats to your smartphone. In doing so, it celebrates your progress each day. The Silversmoke app encourages you to reach your personal goals, challenge friends and move forward.<br> </p>
                <p>
                  Silversmoke is the motivation you need to find an achievable, social and fun path out of smoking!</p>
                </div>
                <div class="col-md-7">
                  <img src="{{ asset('img/rounded-cigs.png') }}">
                </div>
              </div>
            </div>
          </div>

        </section>

        <!-- How it works -->
        <section id='how-it-works'>
          <div class='container'>
            <div class='row'>
              <div class="col-md-12">
                <h5>HERE'S HOW IT WORKS:</h5>
              </div>
              <div class="col-md-12">
                <div class="col-md-3 usp1">
                  <div class="usp1-1">
                    <div class="usp-number">1</div>
                    <font>SMOKE WHEREVER YOU LIKE IT</font>
                    <img src="{{ asset('img/smoke-wherever.png') }}" alt="Quit smoking using a connected electronic cigarette!">
                  </div>
                  <div class='usp1-2'>
                    <div class='usp-bottom-container'>
                      <img src="{{ asset('img/peace.png') }}" alt="Quit smoking using a connected electronic cigarette!">
                      <font>
                        Silversmoke is tobacco smoke and odour free, and has no ashes. It does not bother people around you and you can smoke it everywhere.
                      </font>
                    </div>
                  </div>
                </div>
                <div class="col-md-3 usp2">
                  <div class='usp2-1'>
                    <div class="usp-number">2</div>
                    <font>TRACK YOUR CONSUMPTION</font>
                    <img src="{{ asset('img/connect-wirelessly.png') }}"  alt="Quit smoking using a connected electronic cigarette!">
                  </div>
                  <div class='usp2-2'>
                    <div class='usp-bottom-container'>
                      <img src="{{ asset('img/tracking.png') }}"  alt="Quit smoking using a connected electronic cigarette!">

                      <font>Our e-cigarette records your consumption and connects to your smartphone via bluetooth. See how much you smoked today straight on your smartphone screen!</font>
                    </div>
                  </div>
                </div>
                <div class="col-md-3 usp3">
                  <div class='usp3-1'>
                    <div class="usp-number">3</div>
                    <font>SYNC YOUR STATS WIRELESSLY</font>
                    <img src="{{ asset('img/monitor.png') }}"  alt="Quit smoking using a connected electronic cigarette!">
                  </div>
                  <div class='usp3-2'>
                    <div class='usp-bottom-container'>
                      <img src="{{ asset('img/chart.png') }}" alt="Quit smoking using a connected electronic cigarette!">
                      <font>You can access your statistics wherever on the web and you can compare your consumption to your friends' you want to follow.</font>
                    </div>
                  </div>
                </div>
                <div class="col-md-3 usp4">
                  <div class='usp4-1'>
                    <div class="usp-number">4</div>
                    <font>SHARE YOUR REAL-TIME PROGRESS</font>
                    <img src="{{ asset('img/tweet-result.png') }}"  alt="Quit smoking using a connected electronic cigarette!"> 
                  </div>
                  <div class='usp4-2'>
                    <div class='usp-bottom-container'>
                      <img src="{{ asset('img/community.png') }}" alt="Quit smoking using a connected electronic cigarette!">
                      <font>Proud of your progress? Share it! Because it easier and more fun to stop smoking with friends, Silversmoke lets you share everything with your network!</font>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>


        <!-- Monitor your consumption -->
        <section id='monitor'>
          <div class='container'>
            <div class='row'>
              <div class="col-md-12">
                <div class="col-md-5">
                  <img src="{{ asset('img/woman-electronic-cigarette.jpg') }}" width="350">
                </div>
                <div class='col-md-7 desc'>
                  <div class='desc-header'>
                    <h2>Use your Smartphone to see how you smoke</h2>
                  </div>
                  <div class='desc-body'>
                    Silversmoke is the first e-cigarette that actually helps you quit smoking. Because it tells you:
                    <table>
                      <tr>
                        <td><div class="monitor-table-icon"><img src="{{ asset('img/cigarette-smoked.png') }}" width="30"></div><div>NICOTINE SMOKED</div></td>
                        <td><div class="monitor-table-icon"><img src="{{ asset('img/smoking-trend.png') }}" width="25"></div><div>YOUR SMOKING TREND</div></td>
                      </tr>
                      <tr>
                        <td><div class="monitor-table-icon"><img src="{{ asset('img/money-saved.png') }}" width="25"></div class="monitor-table-icon"><div>THE MONEY YOU SAVED</div></td>
                        <td><div class="monitor-table-icon"><img src="{{ asset('img/money-spend.png') }}" width="30"></div><div>THE MONEY YOU SPEND</div></td>
                      </tr>
                      <tr>
                        <td><div class="monitor-table-icon"><img src="{{ asset('img/battery.png') }}" width="30"></div><div>BATTERY LEFT IN YOUR CIGARETTE</div></td>
                        <td><div class="monitor-table-icon"><img src="{{ asset('img/puff-left.png') }}" width="20"></div><div>PUFFS LEFT IN YOUR CARTRIDGE</div></td>
                      </tr>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>


        <!-- Set Goal -->
        <section id='consumption-cap'>
          <div class='container'>
            <div class='row'>
              <div id='consumption-cap-desc' class="col-md-6 cap-desc">
                <h2>Set your Goal & Cap your Consumption</h2>
                <div>
                <h4>TAKE THE GUILT OUT WITH A PERSONAL GOAL</h4>
                  <ul>
                    <li>With Silversmoke, we want you to choose your consumption. By setting up your personal goal and checking how you stack up against it, smoking will remain a pleasure.<br></li>

                    <li>Need coaching? Silversmoke comes with a selection of programs tailored to your smoking habits.</br></li>

                    <li>Smoke and enjoy your cigarettes without worrying about how much you smoke and how quickly you should quit. It is all set in advance.
                    </li>
                  </ul>
                </div>

                <div class='progress-container'>
              <!--
                <div class="progress progress-top">
                  <div class="progress-bar progress-top" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">
                    <p><span class="percent-text">12</span></p>
                  </div>
                </div>
              -->  

              <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">
                  <p><span class="percent-text">12</span></p>
                </div>
              </div>
              <div class="percent-container">
                <div class='percent'>
                  <font class='puffs'></font> <br>Puffs 
                  <div>
                    <font class="goal">YOUR GOAL</font>
                    <br><font class="goal-figure">1200</font>
                  </div>
                </div>
                <div class='percent'><font class='cigs'></font> <br>Cigs
                  <div>
                    <font class="goal">YOUR GOAL</font>
                    <br><font class="goal-figure">100</font>
                  </div>
                </div>
                <div class='percent'><font class='packs'></font> <br>Packs
                  <div>
                    <font class="goal">YOUR GOAL</font>
                    <br><font class="goal-figure">5</font>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div id='consumption-cap-iphone' class="col-md-6 iphone-screenshot">
            <img src="{{ asset('img/iphone-screenshot.png') }}" alt="Quit smoking using a connected electronic cigarette!">
          </div>
        </div>
      </div>
    </section>



    <!-- Set Goal -->
    <section id='tweet'>
      <div class='container'>
        <div class='row'>
          <div class="col-md-12">
            <div class="col-md-6">
              <div class=" tweet-desc">
                <div class='desc-header'>
                  <h2>Tweet your real-time progress</h2>
                  <img src="{{ asset('img/twitter-logo.png') }}" alt="Quit smoking using a connected electronic cigarette!">
                </div>
                <div class="desc-body">
                  <p>
                    Tell the world about your accomplishements. You can tweet your progress and share it with the community. It is much easier to quit smoking when you know you are not alone. Silversmoke is commited to help you with that.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 tweet">
            <div class="tweet-progress">
              <div class='tweet-header'>
                <div>
                  <img src="{{ asset('img/blond-smoker.jpg') }}" class='img img-rounded' width="60px" height="60px" alt="Quit smoking using a connected electronic cigarette!">
                </div>
                <div class="tweeter-name">
                  <font style="color: #292F33; font-weight:bold; font-size: 20px">Emily</font><br>
                  <small>@EmilySmithfields</small>
                </div>
                <div class="tweeter-button">
                  <img src="{{ asset('img/follow.png') }}"  alt="Quit smoking using a connected electronic cigarette!">
                </div>
              </div>
              <div class='tweet-body'>
                Just said no to 8 cigarettes this week!! That's $5.36 saved! 
                <a href="">#eCig #GetSilversmoke</a>
              </div>
              <div class='tweet-footer'>
                <span class="glyphicon glyphicon-share-alt"></span>
                <span class="glyphicon glyphicon-retweet"></span>
                <span class="glyphicon glyphicon-star"></span>
              </div>
            </div>

          </div>
        </div>
      </div>
    </section>

    <!-- Competition -->
    <section id='competition'>
      <div class='container'>
        <div class='row'>
          <div class="col-md-12">
            <div class="col-md-6">
              <img src="{{ asset('img/compete-picture.png') }}" width="100%" alt="Quit smoking using a connected electronic cigarette!">
            </div>
            <div class='col-md-6 desc' style='background-color:#FFBB42;'>
              <div class='desc-header' style="background-color:#FFA72F">
                <h2>Share and Compete with Friends</h2>
              </div>
              <div class='desc-body'>
                <div class='iphone-competition-desc'>
                 Don't do it alone! <br>
                 Connect with your friends who already have Silversmoke and challenge them to see who managed to reduce his consumption the most.
               </div>
               <div class='iphone-competition'>
                <img src="{{ asset('img/iphone-competition.png') }}" width="180" alt="Quit smoking using a connected electronic cigarette!">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <!-- REWARD -->
  <section id='reward-section'>
    <div class='container'>
      <div class='row'>
        <div class="col-md-12">
          <h2>Join people around the world managing their consumption one milestone at a time</h2>
        </div>
        <div class="row badge-container">
          <h5>GET BADGES TO REWARD YOUR PROGRESS:</h5>
          <div class='col-md-12'>
            <div class='col-md-2'>
              <img src="{{ asset('img/heart-badge.png') }}" alt="Quit smoking using a connected electronic cigarette!">
              <h6>10 YEARS SAVED</h6>
            </div>
            <div class='col-md-2'>
              <img src="{{ asset('img/best-twitter.png') }}" alt="Quit smoking using a connected electronic cigarette!">
              <h6>MIGHTY MENTOR</h6>
            </div>
            <div class='col-md-2'>
              <img src="{{ asset('img/rocket-badge.png') }}" alt="Quit smoking using a connected electronic cigarette!">
              <h6>LIFETIME ACHIEVEMENT</h6>
            </div>
            <div class='col-md-2'>
              <img src="{{ asset('img/crown-badge.png') }}" alt="Quit smoking using a connected electronic cigarette!">
              <h6>CHAMPION FOR CHANGE</h6>
            </div>
            <div class='col-md-2'>
              <img src="{{ asset('img/stat-badge.png') }}" alt="Quit smoking using a connected electronic cigarette!">
              <h6>BIG SAVER</h6>
            </div>
            <div class='col-md-2'>
              <img src="{{ asset('img/award-badge.png') }}" alt="Quit smoking using a connected electronic cigarette!">
              <h6>TARGET REACHED</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Parallax -->
<section id="parallax" data-stellar-background-ratio="0.5" style="background-position: 10% 484.5px;">
  <div class="container">
    <div class='row'>
      <div class='col-md-4 col-md-offset-1'>
        <h3>See your Progress in real-time</h3>
        <p>
          You will very soon understand Silversmoke is your best friend to quit smoking. Your progress is here, all the time in your pocket to remind you your goals and achievements. You will not be left alone in guilt for smoking. You are just one step far from getting started with Silversmoke. Pre order your e-cigarette right now from the website and start a new life.
        </p>
      </div>
    </div>
  </div>

</section>



<!-- CIG-SPEC -->
<section id="cig-spec">

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>Get your Silversmoke Starter Pack Today</h2>
        <div class="device-pic">
          <img src="{{ asset('img/sliversmoke-hori.png') }}" alt="Quit smoking using a connected electronic cigarette!">
        </div>
      </div>

      <div class='col-md-12'>
        <div class="col-md-3">
          <div class='item item-1'>
            <span>
              <img src="{{ asset('img/silversmoke-cig-icon.png') }}" width="15" alt="Quit smoking using a connected electronic cigarette!">
            </span>
          </div> 
          <div class='item-desc'>
            <h4>The Silversmoke E-Cigarette</h4>
            <ul>
              <li>Rechargeable Battery</li>
              <li>Bluetooth 4.0</li>
              <li>Fully reusable</li>
            </ul>
          </div>
        </div>
        <div class="col-md-3">
          <div class='item item-2'>
            <span>
              <img src="{{ asset('img/silversmoke-sensor.png') }}" width="55" alt="Quit smoking using a connected electronic cigarette!">
            </span>
          </div> 
          <div class='item-desc'>
            <h4>The Silversmoke App</h4>
            <ul>
              <li>Free to download</li>
              <li>Available for Android and iOS</li>
              <li>Synchronized online</li>
            </ul>
          </div>
        </div>
        <div class="col-md-3">
          <div class='item item-3'>
            <span>
              <img src="{{ asset('img/cartridge.png') }}" width="50" alt="Quit smoking using a connected electronic cigarette!">
            </span>
          </div> 
          <div class='item-desc'>
            <h4>Flavor Cartridges</h4>
            <ul>
              <li>1 Cartridge: 250 Puffs</li>
              <li>20 cartridges per pack</li>
              <li>10 different flavors</li>
            </ul>
          </div>
        </div>
        <div class="col-md-3">
          <div class='item item-4'>
            <span>
              <img src="{{ asset('img/usb-charger.png') }}" width="50" alt="Quit smoking using a connected electronic cigarette!">
            </span>
          </div> 
          <div class='item-desc'>
            <h4>Lightning Fast Charger</h4>
            <ul>
              <li>USB 2.0</li>
              <li>Regular plugs</li>
              <li>Recharge your e-cig in 2 hours</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- WHATS INCLUDED -->
<section id='whats-included'>
  <div class='container'>
    <div class='row'>
      <div class='col-md-8 col-md-offset-2'>
        <div class="logo">
          <div>
            <img src="{{ asset('img/silver-logo-big.png') }}" alt="Quit smoking using a connected electronic cigarette!">
          </div>
        </div>
        <h2>Reserve your Silversmoke Starter Pack Today</h2>
        <p>We will be launching soon! As a prelaunch offer, we released 10%-off vouchers for our  1,000 subscribed!</p>
        <p>To make sure you are the first one to receive it, sign up here to get your 10%-off voucher:
        </p>
        <div>
          <div class='order-today'>
            <span class="padding-top:20px">
              <h4>Order yours Today</h4>
              {% render(controller('SvkWelcomeBundle:Welcome:subscribe')) %}
            </span>
          </div>
          

          <div class="voucher">
            <div style="border-right: dotted 1px #CCCCCC;">
              <img src="{{ asset('img/voucher-badge.png') }}" alt="Quit smoking using a connected electronic cigarette!">
            </div>
            <div>
              <h4>VOUCHERS LEFT: <br><strong>{{ (3000 - count)|number_format(0, '.', ',') }}</strong></h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>






<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://code.jquery.com/jquery.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="{{ asset('bootstrap/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('js/jquery.stellar.js') }}"></script>
<script src="{{ asset('js/landing-page.js') }}"></script>
</body>
</html>